.btn-inline {
  padding-bottom: 2px;
  display: block;
  margin: 0 1rem;
  background: transparent;
  font-size: inherit;
  border: none;
  border-bottom: 1px solid currentColor;
  color: var(--color-primary);
  cursor: pointer;
  margin: 0 auto;

  &:hover {
    color: var(--grey-dark-1);
    animation: pulsate 1s infinite;
  }

}