body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: var(--grey-dark-2);
}

.heading-secondary {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2.25rem;
  padding: 1.5rem 3rem;
  letter-spacing: 1px;
}